/* Footer */

footer {
  @include rem(padding, 10px 0 10px 0);
  font-size: .75rem;
  font-weight: light;
  color: #888;
  border-top: 1px solid #ddd;
  a {
    color: #888;
    &:hover {
      color: #fff;
    }
  }
}

.footer-copyright {
  @include float-left;
}

.footer-author {
  @include float-right;
}