---
layout: default
---
<div class="row">
  <div class="col">
    <h5>A comprehensive guide and resource library contains everything you’ll need to apply your design, including our core principles, visual design, interface components, branding, and resources to help make your initiative the tastiest.</h5>
  </div>
</div>

<br/><br/>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Purpose</h5>
        <p class="card-text">The Design System strives toward a cohesive design language for Pluralsight’s products, a shared vocabulary for our teams, and basic building blocks to accelerate development.</p>
        <a href="/purpose/" class="btn btn-primary btn-block">Getting Started</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Foundations</h5>
        <p class="card-text">The foundation consists of predefined variables for basic design elements such as color, typography, and spacing. These system properties allow for building layouts and visual styles from defined constraints.</p>
        <a href="/foundations/" class="btn btn-primary btn-block">Get to the Basic</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Components</h5>
        <p class="card-text">Components include a variety of common UI elements to bootstrap experiences and ensure consistent interaction and style as well as accessibility optimizations . These are React components.</p>
        <a href="/components/" class="btn btn-primary btn-block">Incorporate Components</a>
      </div>
    </div>
  </div>
</div>

<br/>
<hr/>
<br/>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Principles</h5>
        <p class="card-text">Something here..</p>
        <a href="/principles/" class="btn btn-primary btn-block">Principles</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Methods</h5>
        <p class="card-text">Something here..</p>
        <a href="/methods/" class="btn btn-primary btn-block">Methods</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Artifacts</h5>
        <p class="card-text">Something here..</p>
        <a href="/artifacts/" class="btn btn-primary btn-block">Artifacts</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Patterns</h5>
        <p class="card-text">Something here..</p>
        <a href="/patterns/" class="btn btn-primary btn-block">Patterns</a>
      </div>
    </div>
  </div>
</div>