/* Navigation */
.navbar {
  height: 65px;
  border-bottom: 1px solid #ddd;
  .logo {
    width: 40px;
    display: inline-block;
    margin: 5px 0 0 7px;
    @extend .smooth;
    &:hover {
      transform: scale(1.1,1.1);
    }
  }
  .lduong {
    fill: #333;
  }
  .lduong:hover {
    fill: orange;
  }
}